<!DOCTYPE html>
<html lang="en-GB" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Buckit, Lets Go!</title>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/city/new">New</a>
        </li>
        <li>
          <a href="/visit">Visits</a>
        </li>
      </ul>
    </nav>

  <%= yield  %>
  </body>
</html>
