<!DOCTYPE html>
<html lang="en-GB" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Buckit, Lets Go!</title>
  </head>
  <body>

    <nav>
      <ul>
        <li>
          <a href="/country">Countries</a>
        </li>
        <li>
          <a href="/city">Cities</a>
        </li>
        <li>
          <a href="/visit">Visits</a>
        </li>
      </ul>
    </nav>

  </body>
</html>
