<!DOCTYPE html>
<html lang="en-GB" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Buckit, Lets Go!</title>
    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/country/new">New Country</a>
        </li>
        <li>
          <a href="/country">Show Countries</a>
        </li>
        <li>
          <a href="/city/new">New City</a>
        </li>
        <li>
          <a href="/city">Show Cities</a>
        </li>
        <li>
          <a href="/visit/new">New Journey</a>
        </li>
        <li>
          <a href="/visit">Show Journies</a>
        </li>
      </ul>
    </nav>

  <%= yield  %>
  </body>
</html>
