
<form method="post" action="/country/new">

  <label for="country">Please enter a new country:</label>
    <input type="text" name="name" id="country">

  <input type="submit" value="Let's go!">

</form>
  <a href="/country">All Countries</a>
