<form method="post" action="/city/new">

  <label for="city">City:</label>
    <input type="text" name="name" id="city">

  <label for="country">Country:</label>
    <input type="text" name="name" id="country">

  <label for="date">Date Leaving:</label>
    <input type="date" name="date" id="date">

  <input type="submit" value="Let's go!">

</form>
