header{
  background-image: linear-gradient
  (to left top, #d0e692, #a3d89c, #81c6a6, #6fb2a8, #6b9da1);
  background-repeat: no-repeat;
}

body {
  background-color: oldlace;
  color: black;
  margin: 0;
}

h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  margin: 2em;
  color: black;
  text-align: center;
}

h3{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  margin: 2em;
  color: black;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  margin: 2em;
  color: black;
}


nav {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  border:
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0.5em;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

#title {
  text-align: right;
  position: relative;
  left: 44em;
  top: 0.8em;
  color: white;
  z-index: 8;
}
