body {
  background-color: #D3E9F3;
  color: black;
  margin: 0;
}

h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3em;
  margin: 1em;
  color: black;
  text-align: center;
}

h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5em;
  margin: 1em;
  color: black;

}

h3{
  font-family: Arial, Helvetica, sans-serif;
  margin: 1em;
  color: black;
}

#visit_list{
  font-family: Arial, Helvetica, sans-serif;
  margin: 1em;
  color: black;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  margin: 0.5%;
  color: black;
  padding: 0.1em;
}

nav {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  border:
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0.5em;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

#title {
  text-align: right;
  position: relative;
  left: 44em;
  top: 0.8em;
  color: white;
  z-index: 8;
}

.textbox {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  margin-top: 0.8em;
  margin-left: 0.5%;
  height: auto;
  font-family:
}
.inline {
  display: inline;
  margin-left: 0.8em;
}
