header{
  background-image: url("toronto.jgp");
  background-repeat: no-repeat;
}

body {
  background-color: oldlace;
  color: black;
}

h1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  margin: 2em;
  color: black;
  text-align: center;
}

h3{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  margin: 2em;
  color: black;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  margin: 2em;
  color: black;
}


/* nav {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  border:
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
} */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0.5em;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
