
<form method="post" action="/visit/new">


  <label for="city-select">Select City:</label>
    <select name="city_id" id="city-select">
      <% @cities.each do |city| %>
      <option value=<%= city.id %>>
        <%= city.name.capitalize %></option>
        <% end %>
      </select>

      <label for="leaving-date">Date Leaving:</label>
      <input type="date" name="going_date" id="date">

      <label for="return-date">Return Date:</label>
      <input type="date" name="return_date" id="date">

      <label for="comments">Things to do:</label>
      <input type="text" name="review" id="comments">

      <input type="submit" value="Lets go!">

    </form>

    <a href="/visit">All your planned journeys</a>
