
<form method="post" action="/visit/new">

  <label for="city">City:</label>
    <input type="text" name="name" id="city">

  <label for="country">Country:</label>
    <input type="text" name="name" id="country">

  <label for="leaving-date">Date Leaving:</label>
    <input type="date" name="date" id="date">

  <label for="return-date">Return Date:</label>
    <input type="date" name="date" id="date">

  <label for="comments">Comments:</label>
    <input type="text" name="comments" id="comments">

  <input type="submit" value="Let's go!">

</form>
